<div class="@NavMenuCssClass" @onclick="ToggleNavMenu" style="height: 100%">
    <ul class="nav flex-column" style="height: 100% !important;">
        <li class="nav-item px-3 menu-item">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> 
            </NavLink>
        </li>
        <li class="nav-item px-3 menu-item">
            <NavLink class="nav-link" href="pulse">
                <span class="oi oi-pulse" aria-hidden="true"></span>
            </NavLink>
        </li>
        <li class="nav-item px-3 menu-item">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> 
            </NavLink>
        </li>
        <li class="nav-item px-3 menu-item">
            <NavLink class="nav-link" href="grafana">
                <!--<span class="oi oi-list-rich" aria-hidden="true"></span> </!-->
                <div style="width: 50px; height: 50px; margin-top:  30px; background-size: 100%; background-repeat: no-repeat; background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fseeklogo.com%2Fimages%2FG%2Fgrafana-logo-15BA0AFA8A-seeklogo.com.png&f=1&nofb=1')"></div>
            </NavLink>
        </li>
        <li class="nav-item px-3 menu-item">
            <NavLink class="nav-link" href="zabbix">
                <!--<span class="oi oi-list-rich" aria-hidden="true"></span> </!-->
                <div style="width: 50px; height: 50px; margin-top:  30px; background-size: 100%; background-repeat: no-repeat; background-image: url('https://symbols.getvecta.com/stencil_104/1_zabbix-icon.10de30d870.jpg')"></div>
            </NavLink>
        </li>
        <div style="margin-top: auto;">
            <li class="nav-item px-3 menu-item" >
                <NavLink class="nav-link" href="documentation">
                    <span class="oi oi-book" aria-hidden="true"></span>
                </NavLink>
            </li>
            <li class="nav-item px-3 menu-item">
                <NavLink class="nav-link" href="settings">
                    <span class="oi oi-wrench" aria-hidden="true"></span>
                </NavLink>
            </li>
        </div>
        
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}